@import "_partials/normalize";

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    line-height: 1.45;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 1.414em 0 0.5em;
  font-weight: bold;
  line-height: 1.2;
}

h1, .h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2, .h2 {font-size: 2.827em;}

h3, .h3 {font-size: 1.999em;}

h4, .h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

.wrapper {
    margin: 0 auto;
    max-width: 42em;
}

img {
    height: auto;
    max-width: 100%;
}

.card__media {
    display: none;
}
