@import "compass/css3";
@import "compass/utilities";
@import "normalize";

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Webfonts Roboto Thin, Normal, Bold & Ultra-Bold */
@import url(http://fonts.googleapis.com/css?family=Roboto:700,900,400,300);

html {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	color: #222;
}
/* =================
   $COMMUN
   ============== */
.wrapper {
	margin: 0 auto;
	max-width: 900px;
	border: 0;
    padding: 2em;
}

#competences,
#divers,
#experiences, 
#formations,
#header
#infos {
	@include clearfix;
}

#header .personne, 
#header .jobtitle,
.infos-type {
	text-transform: uppercase;
}

#header .jobtitle,
.infos-type {
	font-weight: 700;
}

.infos-type, 
.infos-value {
	display: block;
}

.infos-type, 
#infos .infos-value {
	font-size: 9pt;
}

.infos-type {
	color: #ccc;
}

.section-title {
	margin-left: 18.5%;
	text-transform: uppercase;
	font-weight: 900;
    margin-top: 0;
}

#competences,
#divers,
#experiences, 
#formations,
#infos {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
}

#experiences ol,
#formations ol {
    list-style-type: none;
    padding: 0;
}

.dates {
    float: left;
    width: 15%;
    margin-right: 2em;
    text-align: right;

    span {
        @extend .infos-type;
        display: block;
        font-size: 9pt;
    }
}















/* =================
   $HEADER
   ============== */
#header {
	text-align: center;

    .avatar {
        @include border-radius(100%);
        max-width: 128px;
        height: auto;

    }

	.personne {
		font-size: 24pt;
		font-weight:900;
		margin-bottom: 0;
	}

	.jobtitle { 
		font-size: 10pt;
		margin-top: 0; 
	}
}















/* =================
   $INFOS
   ============== */
#infos {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.5em;
}
#infos ul {
	@include clearfix;
	width: 43.2%;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	padding: 0;

	li {
		display: block;
		float: left;
		margin-right: 1.5em;
		margin-bottom: .5em;

		&:last-child { margin-right: 0; }
	}
}















/* =================
   $COMPETENCES
   ============== */















/* =================
   $EXPERIENCES
   ============== */
#experiences li {
	@include clearfix;

	.job {
        @include calc(width,"100% - (15% + 2em)");
		float: left;
	}
}

.job {
	margin-bottom: 1.5em;

	.jobtitle {
		font-weight: bold;
		margin-right: .5em;
		text-transform: uppercase;
		font-size: 12pt;
		line-height: 1;
	}

	.company {
		
		font-size: 11pt;
		line-height: 1;
	}

	.jobdescription {
		font-weight: 300;
		font-size: 11pt;
		line-height: 1.5;
		margin-top: .25em;
	}
}















/* =================
   $FORMATIONS
   ============== */
#formations li {
    @include clearfix;

    .formation {
        @include calc(width,"100% - (15% + 2em)");
        float: left;
    }
}

.formation {
    margin-bottom: 1.5em;

    .diplome {
        font-weight: bold;
        margin-right: .5em;
        font-size: 12pt;
        line-height: 1;
    }

    .ecole {
        font-size: 11pt;
        line-height: 1;
    }

    .matieres {
        font-weight: 300;
        font-size: 11pt;
        line-height: 1.5;
        margin-top: .25em;
    }
}














/* =================
   $DIVERS
   ============== */















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}