@import "compass";

// Compass
@mixin calc($property, $expression) {
	#{$property} : -moz-calc(#{$expression});
	#{$property} : -o-calc(#{$expression});
	#{$property} : -webkit-calc(#{$expression});
	#{$property} : calc(#{$expression});
}

// Variables
$font-face: "Source Sans Pro", sans-serif;
$base-font-size: 16px;
$base-color: #222222;
$line-height: 1.5;

$blue: #0000b5;
$red: #b50055;

$link-color: $blue;
$accent-color: $red;

/*
 * Main styles
 * =================== */

/* 1. Typography 
 * ------------------- */
@import "partials/_typo";

/* 2. Base 
 * ------------------- */
@import "partials/_base";

/* 3. Items 
 * ------------------- */
@import "partials/_items";



/*
 * Page header
 * =================== */
header {
	padding-bottom: 2em;
}

.me {
	text-align: center;
	text-transform: uppercase;

	&__avatar {
		@include border-radius(50%);
		max-width: 128px;
		height: auto;
	}

	&__name {
		font-size: 2.5em;
		font-weight: 900;
		margin-bottom: 0;
	}

	&__title {
		margin-top: 0;
		font-weight: 700;
	}
}


/*
 * Page footer
 * =================== */
 footer {
	padding: 1em 0;
	text-align: center;
 }

 .btn {
	@include border-radius(2px);
	background: $accent-color;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	margin: 0 auto;
	padding: .5em .8em;
	text-align: center;

	&:focus,
	&:hover {
		background: $link-color;
		color: #fff;
	}
 }


/*
 * Special cases
 * =================== */
.contact {
	font-size: .875em;

	.list__item:not(:first-child)::before {
		content: "\00b7";
		display: inline-block;
		padding: 0 .25em 0 .025em;
		font-weight: bold;
		font-size: 1.25em;
		vertical-align: middle;
	}
}

.item__description.job__description p:first-child {
	margin-top: 1em;
}


/*
 * Print
 * =================== */
 @import "partials/_print";