.wrapper {
    margin: 0 auto;
    max-width: $wrapper-size;
    padding: 0 1rem;

    @media only screen and (min-width: 32em) {
        max-width: $wrapper-size * 0.8;
    }
}

img {
    height: auto;
    max-width: 100%;
}

.section {
    border-bottom: 1px solid $grey;

    &__title {
        text-transform: uppercase;
    }
}
