body {
    font-family: $base-font-face;
    font-size: $base-font-size;
    line-height: $base-line-height;

    @media only screen and (min-width: 32em) {
        font-size: $base-font-size * 1.25;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: bold;
    line-height: 1.2;
    margin: .5em 0 .5em;
}

h1, .h1 {
    font-size: 3.375em;
    margin-top: 0;
}

h2, .h2 {
    font-size: 2.25em;
}

h3, .h3 {
    font-size: 1.5em;
}

h4, .h4 {
    font-size: 1em;
}

small, .small-text {
    font-size: 0.707em;
}
