// Mixins
@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

// Variables
$font-face: "Source Sans Pro", sans-serif;
$base-font-size: 16px;
$line-height: 1.5;
