/* ==========================================================================
   $HEADER
   ======================================================================= */
#header {
	text-align: center;
	text-transform: uppercase;

    .avatar {
        @include border-radius(100%);
        max-width: 128px;
        height: auto;
    }

	.personne {
        font-size: 2.5em;
		font-weight:900;
		margin-bottom: 0;
	}

	.jobtitle { 
		margin-top: 0;
		font-weight: 700; 
	}
}

/* ==========================================================================
   $INFOS
   ======================================================================= */
#infos {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.5em;
	text-align: center;

	.infos-value {
		font-size: .85em;
	}

	p {
		margin-bottom: 2em;
	}
}