/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .wrapper { padding: 0; width: 100% !important;  }

    .personne { margin-top: 0; line-height: 1; }

    .jobtitle { margin: 0; }

    .avatar { display: none; }

    #infos { border-bottom: 0; }

    #infos ul { width: 65%; }

    #infos p { margin-top: 0; margin-bottom: 0;}

    #download { display: none; }


    img {
        page-break-inside: avoid;
        max-width: 100% !important;
    }

    .section ol li {
        margin-bottom: 1em;
    }

    .aside span + span:before {
            display: inline-block;
            content: "-";
            margin-right: .25em;
    }

    .item .item-lieu {
        display: inline-block;
        /*page-break-after: avoid;*/
    }

    .item-description p {
        margin: .7em 0 0;
    }

    .item-description p:first-child {
        margin-top: .25em;
    }

    #divers {
        border-bottom: 0;
        margin-bottom: 0;

        li:last-child {
            margin-bottom: 0;
        }
    }

    @page {
        margin: 1cm 2cm;
    }

    p,
    h2 {
        orphans: 2;
        widows: 2;
    }

    h2 {
        page-break-after: avoid;
        margin: 0 0 .25em;
        line-height: 1;
    }
}