// Font declarations
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic,600italic,700italic);

html {
	color: $base-color;
	font-family: $font-face;
	font-size: $base-font-size;
	line-height: $line-height;
}

a {
	@include single-transition(all, .25s, ease);
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}