.wrapper {
    margin: 0 auto;
    max-width: $wrapper-size;
    padding: 0 1rem;

    @media only screen and (min-width: 32em) {
        max-width: $wrapper-size * 0.8;
    }

    @media print {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
}

img {
    height: auto;
    max-width: 100%;

    @media print {
        display: none;
    }
}

.section {
    border-bottom: 1px solid $grey;

    &__title {
        margin-top: 1.5rem;

        @media print {
            margin-bottom: .25em;
        }
    }
}


.switch-lang {
    text-align: center;
    display: block;
    margin: .5em auto 0;

    @media print {
        display: none;
    }
}
