.btn {
    @include border-radius(2px);
    background: $accent-color;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 0 auto;
    padding: .5em .8em;
    text-align: center;

    &:focus,
    &:hover {
        background: $link-color;
        color: #fff;
    }
}
