$base-color: #222222;
$base-font-face: "Nunito", sans-serif;
$base-font-size: 15px;
$base-line-height: 1.5;

$wrapper-size: 40em;

$grey: lighten($base-color, 75%);
$blue: #0000b5;
$red: #b50055;

$link-color: $blue;
$accent-color: $red;


@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin single-transition($transition, $duration, $effect) {
    -moz-transition: $transition $duration $effect;
    -o-transition: $transition $duration $effect;
    -webkit-transition: $transition $duration $effect;
    transition: $transition $duration $effect;
}
